.my-expertise{
    margin-left: auto;
    margin-right: auto;
  /* height: 90vh; */
  margin-bottom: 40vh;
  .title-element{
    margin: 1.5rem;
    text-align: center;
    font-size: 4.688rem;
  }
  .exp-cards{
    overflow-x: visible;
    flex-wrap: wrap;
    /* justify-self: center;
    max-width: 20vw; */
  }
  .card{
    min-width: 20vw;
    /* max-width: 30vw; */
    
  }
  .card-title{
    text-decoration:underline;

  }
  .card-subtitle span{
    color: grey !important;
  }
  .card-body{
    padding: 40px 30px;
  }
  .box{
    flex-grow: 1;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 575px) {

  .my-expertise{
    margin-bottom: 10vh;

    .exp-cards{
      place-self: center;
    }
    .card{
      min-width: 85vw;
    }
    .title-element{
      font-size: 4rem;
    }
  }
}