*{
  background-color: #1a191d;
  color: #fff !important;
   --cursor-color: #66d9ed

}

.html-element {
    color: grey !important;
}
html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 575px) {
    html {
        font-size: 14px; 
    }

}